* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

nav {
    background-color: #ffdfef;
    max-width: 100dvw;
    max-height: 20dvh;
    height: 15dvh;
    padding-top: 0.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    height: 45px;
    align-items: center;
    list-style: none;
}

.logo {
    height: 100px;
    margin-top: -0dvh;
}

.carrinho {
    font-size: 35px;
    font-weight: 700;
    color: #000000;
    transition: all .3s linear;
    margin: 0px;
    padding: 0px;
    padding-right: 40px;
}

/* Sidebar */


.sidebar_menu {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 280px;
  left: -280px;
  background: #DF376A;
  box-shadow: 0px 0px 6px #ffffff80;
  transition: all 0.3s linear;
  z-index: 20;
}


.sidebar_menu .logomenu {
  position: absolute;
  width: 100%;
  height: 60px;
  box-shadow: 0px 2px 4px #ffffff80;
}

.sidebar_menu .logomenu a {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 50px;
  line-height: 60px;
  text-decoration: none;
}

.sidebar_menu .menu {
  position: absolute;
  top: 80px;
  width:100%;
}

.sidebar_menu .menu li {
  margin-top: 6px;
  padding: 14px 20px;
}

.sidebar_menu .menu li.active {
  
    background: #ffffff80;
    box-shadow: 0px 0px 6px #DF376A;
  
  }

.sidebar_menu .menu i {
  color: #fff;
  font-size: 20px;
  padding-right: 8px;
}

.sidebar_menu .menu a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.sidebar_menu .menu li:hover {
  border-left: 1px solid #ffffff;
  box-shadow: 0 0 4px #ffffff80;
}

#check {
  display: none;
}

.botao1 i {
  color: #000000;
  font-size: 55px;
  font-weight: 700;
  cursor: pointer;
  opacity: 1;
  z-index: 19;
  padding-left: 40px;
  transition: all 0.3s linear;
}

.sidebar_menu .botao2 i {
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  color: #ffffff;
  left: 240px;
  cursor: pointer;
  opacity: 0;
  transition: all .3s linear;
}

#check:checked ~ .sidebar_menu { /* Quando a checkbox for marcada, a sidebar vai aparecer */
  left: 0;
}

#check:checked ~ .botao1 i { /* Quando a checkbox for marcada, o botão de menu vai sumir */
  opacity: 0;
}

#check:checked ~ .sidebar_menu .botao2 i { /* E o botão de "X" vai aparecer */
  opacity: 1;
}



/*Slides*/

section.slider {
    margin-top: -13dvh;
    width: 100%;
    max-height: 20%;
    padding: 0;
    overflow: hidden
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input {
    display:none;
}

.slide-box{
    width: 25%;
    margin-top: 13dvh;
    height: auto;
    position: relative;
    text-align: center;
}

.slide-box img {
    width: 100%;
    max-height: 70dvh;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 78dvh;
    display: flex;
    justify-content: center;
}
@media (min-width: 750px) and (max-width: 1000px) {
    .button-filter {
        display: flex;
        flex-direction: column;
        padding: 1px;
        margin: 5px;
        text-align: center;
    }
    #Produtos {
        margin: 10px;
    }
}
@media (min-width: 650px) and (max-width: 750px) {
    .nav-manual, .nav-auto{
        margin-top: 68dvh;
    }
    .button-filter {
        display: flex;
        flex-direction: column;
        padding: 1px;
        margin: 5px;
        text-align: center;
    }
    #Produtos {
        margin: 10px;
    }

}


@media (max-width: 650px) {
    .nav-manual, .nav-auto{
        margin-top: 52dvh;
    }
    .nav-manual .manual-btn, .nav-auto div{
        padding: 3%;
    }
    nav li{
        height: 32px;
        align-items: center;
    }
    
    .logo{
        height: 80px;
        margin-top: -0dvh;
    }
    nav {
        height: 12dvh;
    }

    .beneficios {
        display: none;
    }

    .beneficio {
        font-size: 12px;
        display: none;
    }
    
    .beneficio-img {
        max-height: 30px;
        display: none;
    }

    .preencha, .preencha1, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }


      .flor {
        margin-top: 30px;
        max-width: 250px;
        transition: 0.5s;
    }

    .button-filter {
        display: flex;
        flex-direction: column;
        padding: 1px;
        margin: 5px;
        text-align: center;
    }
    #Produtos {
        margin: 10px;
    }

}


.slider-img{
    max-width: 100%;
    height: 70vh;
}

.img-desktop{
    max-height: 60%;
    max-width: 100%;
    object-fit: cover;
    display: flex;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #ff278f;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #ff278f;
    transition: 0.3s;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #ff278f;
    transition: 0.6s;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
    transition: 0.6s;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
    transition: 0.6s;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
    transition: 0.6s;
}

.beneficios {
    background-color: #f7f7f7;
    padding: 1dvh;
    display: flex;
    justify-content:space-evenly;
    padding: 6px;

}

.beneficio {
    color: #000000;
    display: flex;
    gap: 10px;

}

b {
    color: #e22d84;
}

.beneficio-img {
    height: 40px;
}



.categorias{
    display: flex;
    justify-content: space-evenly;
    overflow-block: 50%;
    padding: 4%;
    max-width: 100%;
    margin-top: -2%;
    
}

/*Faltando uma Melhor Responsividade*/
.categoria{
    border-radius: 7%;
    width: 20%;
    transition: 0.5s;
}

.categoria-img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 7%;
    transition: 0.5s;
}


.categoria:hover{
    width: 21%;
    transition: 0.5s;
    opacity: 0.8;
}
.categoria-img:hover{
    transition: 0.5s;
}

.contatowpp {
    background-color: #ffdfef;

}
.contatowpp-img {
    max-width: 100%;
    height: auto;
    width: auto;

}
/*Mais pedidos*/

.coluna1 {
    display: flex;
    justify-content: center;
    align-items: right;
    flex-wrap: wrap;
    font-size: 20px;
    gap: 30px;
    margin-left: 30px;
}


#Produtos {
    display: flex;
    justify-content: space-around;
    align-items: right;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 100px;
}

.button-filter{
    border: none;
    padding: 15px;
    background-color: #ffbadc;
    font-size: 15px;
    border-radius: 50px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    
}

.button-filter:hover{
    background-color: #f8457b;
    color: #f7f7f7;
    transition: 0.5s;
}

.button-filter.active{
    background-color: #f8457b;
    color: #f7f7f7;
}

.disabled {
    cursor:default;
    opacity: 0.4;
}

.container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.featured {
    padding-bottom: 100px;
}

.flor {
    max-width: 250px;
    transition: 0.5s;
}

.mais {
    display: flex;
    justify-content: center;
    color: #f8457b;
}

.addcarrinho {
    background-color: #f8457b;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 600;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.addcarrinho:disabled {
    background-color: #cacaca;
    color: #858585;
    opacity: 0.7;
}

.addcarrinho:hover {
    background-color: #ff6795;
    color: #fff;
}

.itensmaispedidos {
   transition: transform 0,5s;
   text-align: center;
   margin-top: 20px;
}

.itensmaispedidos img {
    width: 100%;
}

.itensmaispedidos:hover {
    transform: translatey(-5px);
}



.titulo {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
}

.titulo::after {
    content: '';
    background: #e22d84;
    width: 80px;
    height: 5px;
    position: absolute;
    bottom: 0;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.footer {
    background-color: #ededed;
    height: 10dvh;
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
}

.logof {
    max-height: 15dvh;
    max-width: 30dvw;
}

.burocracia {
    color: #000000;
}

/*Form de produtos*/

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  input[type=number], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .preencha {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .preencha1 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .coluna:after {
    content: "";
    display: table;
    clear: both;
  }

  /*Pagina de todos os produtos*/

.selecione {
    max-width: 25%;
    border: 70px;
    border-color: #181616 solid;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.selecione:focus {
    outline: none;
}

.coluna2 {
    margin: 100px;
}

.page-btn {
    margin: 20px auto 80px;
    margin-left: 100px;
    text-align: center;
}

.page-btn span {
    display:inline-block ;
    border: 1px solid #000000;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.page-btn span:hover {
   border-color: #e22d84 ;
}

/*LOGIN E CADASTRO*/

.imglogin {
    max-width: 100dvw;
    max-height: 30dvh;
    height: auto;
    width: 100dvw;
    overflow: hidden;
}

.up {
    margin-top: -15dvh;
}

.loginfield {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    text-align: center;
}
.labelInput {
    display: none;
}

.inputbox {
    border-radius: 10px;
    padding: 20px;
}