* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1 {
    color: rgb(213, 8, 87);
}


nav {
    background-color: #ffdfef;
    max-width: 100dvw;
    max-height: 20dvh;
    height: 15dvh;
    padding-top: 0.5%;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav li{
    height: 40px;
    align-items: center;
}

.logo{
    height: 100px;
    margin-top: -0dvh;
}

nav a{
    height: 100%;
    padding: 0 30px;
    display: flex;
}



/*Slides*/

section.slider {
    margin-top: -13dvh;
    width: 100%;
    max-height: 20%;
    padding: 0;
    overflow: hidden
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input {
    display:none;
}

.slide-box{
    width: 25%;
    margin-top: 13dvh;
    height: auto;
    position: relative;
    text-align: center;
}

.slide-box img {
    width: 100%;
    max-height: 70dvh;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 78dvh;
    display: flex;
    justify-content: center;
}
@media (min-width: 650px) and (max-width: 750px) {
    .nav-manual, .nav-auto{
        margin-top: 68dvh;
    }
}


@media (max-width: 650px) {
    .nav-manual, .nav-auto{
        margin-top: 55dvh;
    }
    .nav-manual .manual-btn, .nav-auto div{
        padding: 3%;
    }
    nav li{
        height: 32px;
        align-items: center;
    }
    
    .logo{
        height: 80px;
        margin-top: -0dvh;
    }
    nav {
        height: 12dvh;
    }
    .beneficio {
        font-size: 12px;
    }
    .beneficio-img {
        max-height: 30px;
    }

}


.slider-img{
    max-width: 100%;
    height: 70vh;
}

.img-desktop{
    max-height: 60%;
    max-width: 100%;
    object-fit: cover;
    display: flex;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #ff278f;
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #ff278f;
    transition: 0.3s;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #ff278f;
    transition: 0.6s;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
    transition: 0.6s;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
    transition: 0.6s;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
    transition: 0.6s;
}

.beneficios {
    background-color: #f7f7f7;
    padding: 1dvh;
    display: flex;
    justify-content:space-evenly;
    /*border: solid 1px #000000;*/
    padding: 6px;

}

.beneficio {
    color: #000000;
    display: flex;
    gap: 10px;

}

b {
    color: #e22d84;
}

.beneficio-img {
    height: 40px;
}



.categorias{
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    max-width: 100%;
    /*border: solid 1px #000000;*/
}

/*Faltando uma Melhor Responsividade*/
.categoria{
    border-radius: 7%;
    width: 20%;
    transition: 0.5s;
}
.categoria-img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 7%;
    transition: 0.5s;
}


.categoria:hover{
    width: 21%;
    transition: 0.5s;
    opacity: 0.8;
}
.categoria-img:hover{
    transition: 0.5s;
}
